.logo {
  max-width: 142px;
  padding-bottom: 38px;
}

@media screen and (max-width: 825px) {
  .logo {
    margin-left: 24px;
  }
}

@media screen and (max-width: 425px) {
  .logo {
    max-width: 103px;
  }
}